body{
    background-color: black;
}
header nav{
    background-color: black;
}
header nav a.navbar-brand{
    color: white;
}
header nav a.navbar-brand:hover{
    color: white;
}
header nav a.col{
    color: #999;
}
header nav a.col:hover{
    color: white;
}
header nav #navBtn{
    width: 150px;
    height: 40px;
    background-color: yellow;
    border: 2px solid yellow;
}
header nav #navBtn:hover{
    background-color: black;
    color: yellow;
}
header nav i{
    color: white;
    font-size: 25px;
}

#sec-1{
    margin-top: 100px;
}
#sec-1 h1{
    color: white;
}
#sec-1 p{
    color: #999;
}
/* sec-2 */
#sec-2 .row a{
    text-decoration: none;
}
/* sec-4 */
.sec-4 .row h3{
    color: white;
    font-size: 36px;
    font-family: "Prata", serif;
}
.sec-4 .row p{
    color: #848484;
    font-size: 18px;
}
.sec-4 #Btn{

    color: black;
    background-color: #fbe850;
    border-radius: 1px;
    padding: 8px 18px;
    transition: all 0.4s;
    border: 1px solid #fbe850;
}
.sec-4 #Btn:hover{
    background-color: black;
    color: yellow;
}